* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color Variables */
  --primary-color: #173b2e;
  --secondary-color: #12191b;
  --accent-color1: #0c9e68;
  --accent-color2: #d4b996;
  --accent-color3: #d4a96e;
  --accent-color4: #4a90e2;
  --font-color1: #fff;
  --font-color2: #c9c9c9;
  --font-color3: #222;
  --projects-bg-color: #c1dbb3; /* New color for projects page background */

  /* Typography */
  --font-heading: "Bricolage Grotesque", serif;
  --font-body: "Inter", serif;

  /* Spacing */
  --section-padding: 4rem;
  --gap: 1.5rem;

  /* Font Size */
  --very-small: 1rem;
  --small: 1.4rem;
  --small-ToMedium: 1.6rem;
  --medium: 1.8rem;
  --medium-Tolarge: 2.2rem;
  --large: 2.8rem;
  --very-large: 6rem;
  --extra-large: 8rem;
}

/********** GENERAL STYLES ***********/
.btn {
  padding: 1rem 3.8rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-style: normal;
}

main {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
  padding-top: 8rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  z-index: 100;
}

.header-scrolled {
  background-color: rgba(28, 38, 41, 0.6);
  backdrop-filter: blur(6px);
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo a {
  font-size: var(--medium-Tolarge);
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--font-color1);
}

#logo img {
  width: 5rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--font-color2);
  font-size: var(--medium);
  font-family: var(--font-body);
  transition: color 0.3s ease;
  padding: 0 1rem;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  width: 0%;
  height: 3px;
  background-color: var(--accent-color1);
  transition: width 0.4s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: var(--font-color1);
}
#startBtn {
  display: inline-block;
  padding: 1rem 2.6rem;
  font-size: var(--small);
  font-weight: bold;
  color: white;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  border: 1px solid var(--accent-color1);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#startBtn:hover {
  box-shadow: 0 2px 4px var(--accent-color1);
  transform: scale(1.05);
}
/********HERO Section**********/

.hero {
  width: 70%;
  margin: 3rem auto 0 auto;
  text-align: center;
  padding: 4rem 2rem;
}

#hero-header {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--very-large);
  line-height: 1.3;
  color: var(--font-color2);
}

.upper-hero {
  margin-bottom: 6rem;
}
#hero-header span {
  color: var(--accent-color1);
}

#hero-subheader {
  font-family: var(--font-body);
  font-size: 2rem;
  color: var(--font-color2);
  margin-top: 3rem;
  padding: 0 6rem;
  line-height: 1.6;
}

#hero-subheader span {
  display: inline-block;
}

.colored-title {
  color: var(--accent-color1);
}

#bookingBtn {
  display: inline-block;
  margin-top: 4rem;
  background: linear-gradient(45deg, var(--accent-color1), #4fc54f);
  font-size: var(--medium-Tolarge);
  font-family: var(--font-heading);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s ease;
  color: var(--font-color3);
}

#bookingBtn:hover {
  transform: scale(1.02);
  background: linear-gradient(45deg, var(--accent-color1), #86e686);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--accent-color1);
}

.tagline {
  margin-top: 3.5rem;
  font-size: var(--medium);
  color: var(--accent-color2);
  font-family: var(--font-body);
}

.customer-logo {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem auto;
}

.customer-logo a {
  text-decoration: none;
  color: inherit;
}
.customer-logo img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 100%;
  transition: transform 0.3s ease;
  filter: grayscale(100%);
}

.customer-logo img:hover {
  transform: scale(1.1);
  filter: none;
}

/*****About section styles******/

.about {
  width: 100%;
  height: 100vh;
  position: relative; /* Ensure the section is positioned correctly */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: hidden; /* Ensure the pseudo-element does not overflow */
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/about/blake-connally-B3l0g6HLxr8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(1rem);
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.about-owner,
.about-journey {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 82%;
  border-radius: 1rem;
  z-index: 1; /* Ensure the element is above the blurred background */
  position: relative; /* Ensure the element is positioned correctly */
  overflow: hidden;
}

.about-owner-image {
  flex: 4;
  background-image: url("Images/about/goran-ivos-iOykDIkZLQw-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center;
}

.about-title {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-title p {
  font-family: var(--font-heading);
  font-size: var(--large);
  font-style: italic;
}
.about-owner-paragraph {
  flex: 4;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: #fff;
  font-family: var(--font-body);
  line-height: 1.7;
}

.myImage {
  flex: 4.5;
  background-image: url(Images/about/me.jpg);
  background-position: center;
  background-size: cover;
}
.myImage img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.my-journey {
  flex: 4;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: #fff;
  font-family: var(--font-body);
  line-height: 1.7;
}

/********** PROJECTS SECTION ***********/
.projects {
  width: 100%;

  background-color: #333;
}

.projects-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 6rem 1rem;
  text-align: center;
}
.section-header {
  grid-column: 1 / 3;
  font-size: var(--very-large);
  font-family: var(--font-heading);
  color: var(--font-color1);
  padding-bottom: 4rem;
}
.section-header.projects-header {
  font-size: var(--extra-large);
  letter-spacing: 0.3em;
}
.project {
  display: flex;
  height: 32rem;
  /* gap: 1rem; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 1rem;
  overflow: hidden;
}
.project:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 8px 16px var(--primary-color);
}
.project-image {
  flex: 2;
  border-radius: 0.5rem;
}

.project-image img {
  width: 100%;
  height: 100%;
}
.project-info {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.project-title {
  font-size: var(--small-ToMedium);
  font-family: var(--font-body);
}
.project-title span {
  font-family: var(--font-heading);
  color: var(--accent-color1);
  font-size: var(--medium);
  margin-right: 0.5rem;
}
.project-description {
  font-family: var(--font-body);
  font-size: 1.2rem;
  color: var(--font-color3);
  text-align: left;
  padding: 2rem;
}
.project-footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.result {
  font-family: var(--font-body);
  font-size: var(--small-ToMedium);
  margin-bottom: 1rem;
}

.viewProjectBtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  font-size: 1.2rem;
  font-family: var(--font-body);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--font-color1);
  border-radius: 0.5rem;
}

.viewProjectBtn:hover {
  transform: scale(1.1);
  background: linear-gradient(
    45deg,
    var(--accent-color1),
    var(--primary-color)
  );
}

.middle-project {
  grid-column: 1 / 3;
}
.middle-project .project-image {
  flex: 1.2;
}
.middle-project .project-info {
  flex: 2;
}

.middle-project .project-title {
  font-size: var(--medium);
}
.middle-project .project-description {
  font-size: var(--small-ToMedium);
  padding: 4rem 2rem;
}
.middle-project .result {
  font-size: var(--medium);
  margin-bottom: 2rem;
}

/********** Services styles***********/
.services {
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 6rem 2rem;
  display: flex;
}
.services-info {
  flex: 1;
  padding: 6rem 2rem;
}
.services-header {
  font-family: var(--font-heading);
  font-size: var(--large);
  color: var(--font-color1);
  margin-bottom: 4rem;
  line-height: 1.4;
}
.services-paragraph {
  font-family: var(--font-body);
  font-size: var(--medium);
  color: var(--font-color2);
  line-height: 1.7;
}
.services-boxes {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 1rem;
}
.service-box {
  border-radius: 12px;
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  box-shadow: 0 2px 4px var(--primary-color);
}
.service-box-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 2;
}
.service-box h3 {
  font-family: var(--font-heading);
  font-size: var(--medium);
  color: var(--font-color1);
  margin-bottom: 1rem;
}
.service-box p {
  font-family: var(--font-body);
  font-size: var(--small);
  color: var(--font-color2);
}
.service-box-image {
  display: flex;
  flex: 1;
  height: 70%;
  margin: auto 0;
  background-size: cover;
  background-position: center;
}
.img-1 {
  background-image: url(Images/Services/web-design.jpg);
}
.img-2 {
  background-image: url(Images/Services/seo-concept-illustration_114360-5766.jpg);
}
.img-3 {
  background-image: url(Images/Services/e-commerce.jpg);
}
.img-4 {
  background-image: url(Images/Services/website-maintenance.jpg);
}

/* TESTIMONIALS STYLES */
.testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
}

.testimonial-box {
  width: 80%;
  margin: 10rem auto;
  padding: 4rem 2rem;
  background-color: var(--font-color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
}
.testimonial-header {
  font-family: var(--font-body);
  color: var(--secondary-color);
}
.testimonial-slider {
  position: relative;
  width: 80%;
  height: 40rem;
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 1rem;
  margin: 4rem auto;
}

.img-box {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.img-box img {
  width: 100%;
  border-radius: 1rem;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.slide.active {
  left: 0;
  opacity: 1;
}
.slide.exit-left {
  left: -100%;
  opacity: 0;
}
.testimony {
  color: var(--font-color1);
  margin: 10rem 5rem;
  font-family: var(--font-body);
  font-size: var(--medium);
  line-height: 1.6;
  text-align: center;
}

.customer-name {
  margin: 4rem auto;
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--medium);
  color: var(--font-color2);
}

.customer-name span {
  display: block;
  color: var(--accent-color1);
}

.ourCustomers {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 36rem;
  height: 4rem;
  transform: translateX(-50%);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourCustomers p {
  font-family: var(--font-body);
  font-size: var(--small);
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}
.custumer-images {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-thumbnail {
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin-left: -1rem;
  cursor: pointer;
  position: relative;
}

.selected-thumbnail {
  width: 1rem;
  height: 5rem;
}
.customer-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.custumer-images img:hover {
  transform: scale(1.1);
  transform: translateY(-1.5rem);
}

.customer-thumbnail.active-thumbnail img:hover {
  transform: none; /* Disable hover effect for the active thumbnail */
}

/*******CONTACT STYLES*******/
.contact {
  width: 100%;
  height: 100vh;
  background-image: url(Images/Contact/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
}

.contact-motto {
  flex: 1;
  padding: 4rem;
  /* border: 1px solid yellow; */
}

.contact-motto h4 {
  font-size: var(--small);
  color: var(--font-color2);
  font-family: var(--font-body);
}
.contact-motto h4 span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: yellow;
  margin-right: 0.5rem;
}

.contact-motto h2 {
  font-size: var(--very-large);
  color: var(--font-color1);
  font-family: var(--font-heading);
  margin: 2rem 0;
  /* line-height: 1.4; */
}
.contact-motto p {
  font-family: var(--font-body);
  font-size: var(--medium);
  color: var(--font-color2);
  line-height: 1.7;
}

.form-container {
  flex: 1;
  /* background-color: pink; */
  padding: 1rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 1rem;
}

.contact-form input {
  padding: 2rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: var(--font-color2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color1);
  box-shadow: 0 2px 4px var(--accent-color1);
}
.contact-form textarea {
  font-family: var(--font-body);
  padding: 1rem;
  background-color: #222;
  border-radius: 5px;
}
#submitBtn {
  background: linear-gradient(45deg, var(--accent-color1), #4fc54f);
  font-size: var(--small-ToMedium);
  font-family: var(--font-body);
  padding: 1rem 0;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#submitBtn:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px var(--accent-color1);
}

/******FOOTER STYLES******/
footer {
  width: 100%;
  height: 50vh;
  background-color: var(--primary-color);
  color: var(--font-color2);
  position: relative;
}
.footer-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
  /* background-color: pink; */
}
footer div {
  /* border: 1px solid yellow; */
  padding: 2rem;
}
.footer-description {
  text-align: left;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer a {
  font-family: var(--font-heading);
  font-size: var(--large);
  color: var(--font-color1);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2rem;
}
.footer-description p {
  font-family: var(--font-body);
  font-size: var(--medium-Tolarge);
  color: var(--font-color2);
  line-height: 1.5;
}

footer ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid yellow; */
  padding: 1rem 0;
}
footer i,
footer ul a {
  font-size: var(--small-ToMedium);
  color: var(--font-color2);
  position: relative;
}

footer ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  width: 0%;
  height: 3px;
  background-color: var(--accent-color1);
  transition: width 0.4s ease-in-out;
}

footer ul a:hover::after {
  width: 100%;
}
.copyright {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: var(--small);
  color: var(--font-color1);
}
